body{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
  background-image: url("https://r1imghtlak.mmtcdn.com/4e8d9532266c11ebad380242ac110003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
